# Typewrite OS - i686 (32-bit) Buildroot Config
# For MacBook Air 2010 and other 32-bit EFI systems

BR2_i686=y

# System
BR2_TARGET_GENERIC_GETTY_PORT="tty0"

# Boot
BR2_TARGET_SYSLINUX=y

# Kernel
BR2_LINUX_KERNEL=y
BR2_LINUX_KERNEL_CUSTOM_VERSION=y
BR2_LINUX_KERNEL_CUSTOM_VERSION_VALUE="6.1.44"
BR2_LINUX_KERNEL_USE_CUSTOM_CONFIG=y
BR2_LINUX_KERNEL_CUSTOM_CONFIG_FILE="board/typewrite/linux-i686.config"

# Filesystem
BR2_TARGET_ROOTFS_EXT2=y
BR2_TARGET_ROOTFS_EXT2_SIZE="120M"

# Packages
BR2_PACKAGE_BUSYBOX=y
BR2_PACKAGE_TYPEWRITE=y
BR2_PACKAGE_BOOTLOGO=y
